$color-basic: #FAAD14;
$color-basic-darken-1: #D48806;
$color-basic-lighten-4: #FFF1B8;
$color-basic-lighten-5: #FFFBE6;
$color-text: #612500;
$color-contrast: #FFFFFF;
$color-work-space-bg: #D9D9D9;
$color-text-brown-light: #61250080;
$color-icon: #00000073;
