<nz-layout class="book-order-page__content-wrapper full-width full-height">
  <h1 class="book-order-page__title">Создание книги</h1>

  <div class="book-order-page__explanation-text">
    <div>
      На этой странице вы можете получить готовую книгу на почту.
    </div>
    <div>
      Книга придет в течение недели
    </div>
  </div>

  <app-image imageName="book-page-bg.svg" width="560px" height="471px" alt="book-order-bg"></app-image>

  <button nz-button nzType="primary" nzSize="large" (click)="openConfirmModal()">Получить готовую книгу</button>

  <a nz-button nzType="link" nzSize="large" [routerLink]="['/', 'app', 'general']">
    <span nz-icon nzType="arrow-left" nzTheme="outline"></span>
    Вернуться на главную
  </a>
</nz-layout>
