:host {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.admin__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.admin__new-question-input {
  width: 50%;
}

.admin__new-question-button {
  margin-top: 40px;
}
