@import 'styles/common';

html,
body,
app-root {
  height: 100%;
  width: 100%;
  display: block;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}
