@import 'src/styles/variables';

.header {
  background-color: $color-basic;
  height: 65px;
  display: block;
}

.header__title {
  color: $color-text;
}

.header__app-logo {
  width: 125px;
  height: 27px;
}

.header__extra-block {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  gap: 25px;
}

.header__user-info {
  display: flex;
  align-items: center;
  color: $color-text;
  font-size: 18px;
}

.header__icon {
  font-size: 24px;
  color: $color-text;
}

.header__delimiter {
  height: 32px;
  width: 1px;
  background-color: $color-text-brown-light;
}
